@use '../util/' as *;

.inputs{
  background-color: var(--white);
  padding: rem(30);

  label{
    display: block;
    color: var(--dark_grayish_cyan);
    font-weight:700;
  }

  legend{
    color: var(--dark_grayish_cyan);
    font-weight:700;
    padding: 0;
  }
}